#mainForm {
    position: relative;
}

#kocka {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 30px;
    top: 100px;
    display: none;
}
#hidingCat{
    width: 500px;
    height: 500px;
    
    background-color: #ff6699;
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
    display: block;
}

#hidingCat:hover {
    background-color: #123;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  img{
      display: block;
  }