#tartalom {
    background-color: midnightblue;
    margin: 2px auto;
    width: 720px;
}

.gomb {
    float: left;
    background-color: black;
    color: white;
    text-align: center;
    width: 100px;
    padding: 25px;
    margin: 10px;
    border: 5px solid gray;

}