td,th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
th{
    background-color: #AAAAAA;  
}
tr:nth-child(even){
    background-color: #5555;
}
tr:nth-child(odd){
    background-color: #777777;
}
caption{
    font-size: 32px;
    font-weight: bold;
}