@keyframes atszinezo {
    from {

    }
    to {
        background-color:#EE5A24;
        border-color: black ;
    }
}
body{
    background-image: linear-gradient(to right, orange,red);
}

#tartalom{
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
}
a{
   background-color: #ff9f43; 
   color: #ffff;
   font-size: 18px;
   border: 5px solid gray;
   margin: 5px;
   padding: 20px;
   width: 200px;
   height: 20px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 10px;
   box-shadow: 3px 3px 5px black;
   text-align: center;
}
a:hover{
    animation-name: atszinezo;
    animation-duration: 2s;
}