/* Élőlények */
.novenyek{
    list-style-type: decimal;
}
.mergezo{
    list-style-type: lower-roman;
}
.faszombaszuromel{
    list-style-type: upper-roman;
}
/* Ételek */
.nagybetu{
    list-style-type: upper-alpha;
}
.kisbetu{
    list-style-type: lower-alpha;
}
.nagyRomai{
    list-style-type: upper-roman;
}
.kisRomai{
    list-style-type: lower-roman;
}

/* Marvel vs DC */