* {
    padding: 0px;
    margin: 0px;
    outline:none;
}

body {
    background-color: black;
}

#tartalom {
    color: #eee;
    background-color: #15172b;
    width: 300px;
    padding: 50px;
    margin: 10px auto;
    border:1px solid white;
}
h1{
    text-align: center;
}

input {
    background-color: #303245;
    border:0px;
    color: #eee;
    font-size:18px;
    padding:5px 10px;
    width:280px;
    margin:10px 0;
}

input:focus {
    outline:none;
    border: 1px solid blue !important ;
    font-weight: bold;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid black;
}
input[type="submit"]{
    width:300px;
}