a{
    border: solid 1px black;
    color: green;
    font-size: 20px;

}
a:link{

}

a:visited{
    text-decoration: line-through;
    font-size: 20px;
    color: black;
    background-color: grey;
}
a:active{
text-decoration: underline;
font-size: 24px;
color: red;
background-color: black;
}